
@{
    Layout = "_Layout";
    ViewData["Title"] = "DisplayPerson";
}

<h1> Display Person</h1>
<table>
    <tr>
        <td>
        First Name:  @Model.FirstName
        </td>
    </tr>
  

    <tr> 
         <td>
        Last Name:   @Model.LastName 
         </td>
    </tr>


    <tr> 
       <td>
        Age:   @Model.Age 
       </td>
    </tr>


    <tr> 
       <td>
        Email:    @Model.EmailAddress  
       </td>
    </tr>


    <tr> 
       <td>
        Date of Birth:  @Model.Date 
       </td>
    </tr>


    <tr> 
       <td>
        Description:   @Model.Description 
       </td>
    </tr>


</table>

